@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-Italic.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-BoldItalic.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-Bold.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-LightItalic.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-Light.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-Medium.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-MediumItalic.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-Regular.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-SemiBoldItalic.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-SemiBold.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-BoldItalic.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-Italic.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-Bold.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-LightItalic.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-Light.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-Medium.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-MediumItalic.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-Regular.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-SemiBoldItalic.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('./CormorantGaramont/CormorantGaramond-SemiBold.woff2') format('woff2'),
  url('./CormorantGaramont/CormorantGaramond-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

