@use 'variables';
@use '../fonts/fonts.scss';

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: $ink-950;
  color: $moon-100;
  font-family: $font-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.prose-archive {
  line-height: 1.75;

  h1, h2, h3 {
    font-family: $font-serif;
    letter-spacing: 0.02em;
    margin: 1.2em 0 0.6em;
  }

  p {
    margin: 0 0 1em;
  }

  blockquote {
    margin: 1em 0;
    padding-left: 1rem;
    border-left: 2px solid rgba(214,214,230,0.35);
    opacity: 0.92;
  }
}

